    - name: Install Dependencies
      run: npm ci

    - name: Build Project
      run: npm run build:prod
      env:
        NODE_OPTIONS: --openssl-legacy-provider

    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: dist-files
        path: dist/

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v3
        with:
          name: dist-files
          path: dist/

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: courseware-web
          directory: dist
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
>>>>>>> 0b322a2deff9c1fd9bc051d1aa8bdeee2a456785
name: Build and Deploy to Cloudflare Pages

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  build:
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x, 20.x]

    steps:
    - uses: actions/checkout@v4

    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v4
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install Dependencies
      run: npm ci

    - name: Build Project
      run: npm run build:prod
      env:
        NODE_OPTIONS: --openssl-legacy-provider

    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: dist-files
        path: dist/

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v3
        with:
          name: dist-files
          path: dist/

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: courseware-web
          directory: dist
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
=======
    - name: Install Dependencies
      run: npm ci

    - name: Build Project
      run: npm run build:prod
      env:
        NODE_OPTIONS: --openssl-legacy-provider

    - name: Upload Artifacts
      uses: actions/upload-artifact@v3
      with:
        name: dist-files
        path: dist/

  deploy:
    needs: build
    runs-on: ubuntu-latest
    steps:
      - name: Download Artifacts
        uses: actions/download-artifact@v3
        with:
          name: dist-files
          path: dist/

      - name: Deploy to Cloudflare Pages
        uses: cloudflare/pages-action@v1
        with:
          apiToken: ${{ secrets.CLOUDFLARE_API_TOKEN }}
          accountId: ${{ secrets.CLOUDFLARE_ACCOUNT_ID }}
          projectName: courseware-web
          directory: dist
          gitHubToken: ${{ secrets.GITHUB_TOKEN }}
>>>>>>> 0b322a2deff9c1fd9bc051d1aa8bdeee2a456785
